.breadcrumbs {
	display: flex;
	align-items: center;
	height: 57px;
	margin-top: 22px;
	// border-bottom: 1px solid #c5becd;
	@include r(740) {
		display: none;
	}
	&__link {
		font-family: $font-bold-c;
		color: $accent;
		&:hover {
			color: $dark;
		}
		&--now {
			color: #635d69;
			&:hover {
				color: #635d69;
			}
		}
	}
	&__arrow {
		fill: #635d69;
		height: 10px;
		width: 10px;
		margin-left: 0.9em;
		margin-right: 0.7em;
	}
}