.contact-form {
	padding-bottom: 29px;
	&__label {
		display: block;
		width: 100%;
	}
	&__title {
		font-size: 1.125em;
		font-family: $font-reg-c;
		line-height: 1.9em;
	}
	input {
		width: 100%;
		height: 40px;
		border: 0px;
		background-color: #302f31;
		color: $light;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 1em;
		&:-webkit-autofill {
			-webkit-box-shadow:0 0 0 50px #302f31 inset; 
			-webkit-text-fill-color: $light;
		}
		&::-webkit-autofill:focus {
			-webkit-box-shadow: #302f31 ,0 0 0 50px inset;
			-webkit-text-fill-color: $light;
		}
		&::placeholder {
			color: #9a929f;
		}
	}
	textarea {
		width: 100%;
		height: 180px;
		border: 0px;
		overflow: hidden;
		background-color: #302f31;
		resize: none;
		box-sizing: border-box;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 1em;
		color: $light;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	button {
		width: 100%;
		height: 40px;
		border: none;
		border-radius: 0px;
		background-color: $accent;
		color: $light;
		text-transform: uppercase;
		font-family: $font-reg-c;
		font-size: 1.125em;
		cursor: pointer;
		margin-top: 12px;
	}
}