// Общие стили
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $font-reg;
	overflow-x: hidden;
	background-color: $light;
}

svg {
	transition: 0.3s all;
}

.icon-svg {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}

a {
	text-decoration: none;
	transition: 0.3s all;
	outline: none;
	&:hover {
		text-decoration: none;
		transition: 0.3s all;
	}
}

.container {
	max-width: 100%;
	width: 1220px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.h2 {
	font-family: $font-bold-c;
	text-transform: uppercase;
	font-size: 4.375em;
	line-height: 0.90em;
	color: $accent;
	@include r(560) {
		font-size: 3em;
	}
}

.marker {
	background-color: rgba(208, 36, 38, 0.5);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -25px;
	top: -25px;
	&__inner {
		width: 28px;
		height: 28px;
		border-radius: 50px;
		background-color: rgba(208, 36, 38, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		&--2 {
			background-color: rgba(208, 36, 38, 1);
			width: 8px;
			height: 8px;
			border-radius: 15px;
		}
	}
}

.top-scroll {
	position: absolute;
	right: 10px;
	top: -50px;
	top: -105px;
	z-index: 3;
	&__link {
		width: 100%;
		height: 100%;
		display: flex;
		box-sizing: border-box;
		border: 2px solid #c5becd;
		justify-content: center;
		align-items: center;
		width: 37px;
		height: 37px;
		&:hover {
			border-color: $accent;
			.top-scroll__arrow {
				fill: $accent;
			}
		}
	}
	&__arrow {
		transform: rotate(-90deg);
		fill: #c5becd;
	}
}

.error404 {
	background-color: $dark;
	.top-scroll {
		visibility: hidden;
	}
	.contacts {
		height: 0px;
		visibility: hidden;
		padding: 0px;
		overflow: hidden;
	}
}

.mm-menu {
	background-color: $dark;
	color: $light;
	.mm-navbar__title {
		.logo {
			color: $accent !important;
			font-family: $font-bold-c;
		}
	}
	.mm-navbar__title {
		color: $light !important;
	}
	.mm-btn_next {
		&:after {
			border-color: $light !important;
		}
	}
	.mm-btn_prev {
		&:before {
			border-color: $light;
		}
	}
	.mm-listitem {
		font-family: $font-reg-c;
	}
}

@include r(1430) {
}
@include r(980) {
}