.pagination {
	.nav-links {
		display: flex;
		justify-content: center;
	}
	.page-numbers {
		display: inline-flex;
		width: 36px;
		height: 36px;
		justify-content: center;
		align-items: center;
		border-top: 2px solid #c5becd;
		border-bottom: 2px solid #c5becd;
		border-left: 1px solid #c5becd;
		border-right: 1px solid #c5becd;
		font-family: $font-reg-c;
		font-size: 1.250em;
		color: #c5becd;
		&:first-child {
			border-width: 2px 1px 2px 2px;
		}
		&:last-child {
			border-width: 2px 2px 2px 1px;
		}
	}
	a.page-numbers {
		&:hover {
			color: $dark;
		}
	}
	.current {
		color: $dark;
		border-color: $dark;
		border-left: 2px solid $dark;
		border-right: 2px solid $dark;
		position: relative;
		z-index: 2;
		margin-left: -1px;
		margin-right: -1px;
	}
	.prev {
		width: auto;
		color: #c5becd;
		padding-right: 0.6em;
		padding-left: 0.6em;
		&:hover {
			border-color: $dark;
		}
	}
	.next {
		width: auto;
		color: #c5becd;
		padding-right: 0.6em;
		padding-left: 0.6em;
		&:hover {
			border-color: $dark;
		}
	}
}