.news {
	&__h2 {
		font-size: 2.500em;
		text-transform: none;
		&--other {
			margin-bottom: 1em;
		}
	}
	&__time {
		color: #a49dab;
		font-family: $font-light;
		line-height: 4em;
	}
	&__post {
		padding-top: 2.4em;
		padding-bottom: 1.4em;
	}
	&__content {
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin-top: 1.6em;
			margin-bottom: 3em;
		}
		p {
			line-height: 1.5em;
			// margin-bottom: 1.6em;
		}
		b {
			font-family: $font-bold;
		}
	}
	&__other {
		border-top: 2px solid #c5becd;
		padding-top: 4em;
	}
}