@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/robotocondensed-bold/robotocondensed-bold-webfont.eot");
    src: url("../fonts/robotocondensed-bold/robotocondensed-bold-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/robotocondensed-bold/robotocondensed-bold-webfont.woff") format("woff"),
    url("../fonts/robotocondensed-bold/robotocondensed-bold-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot");
    src: url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.woff") format("woff"),
    url("../fonts/robotocondensed-regular/robotocondensed-regular-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "RobotoCondensedItalic";
    src: url("../fonts/robotocondensed-italic/robotocondensed-italic-webfont.eot");
    src: url("../fonts/robotocondensed-italic/robotocondensed-italic-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/robotocondensed-italic/robotocondensed-italic-webfont.woff") format("woff"),
    url("../fonts/robotocondensed-italic/robotocondensed-italic-webfont.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}