// Fonts
$font-reg: "RobotoRegular", Arial, sans-serif;
$font-semi: "RobotoMedium", Arial, sans-serif;
$font-bold: "RobotoBold", Arial, sans-serif;
$font-light: "RobotoLight", Arial, sans-serif;

$font-reg-c: "RobotoCondensedRegular", Arial, sans-serif;
$font-ital-c: "RobotoCondensedItalic", Arial, sans-serif;
$font-bold-c: "RobotoCondensedBold", Arial, sans-serif;


//Colors
$dark: #19171a;
$light: #fefefe;
$accent: #d02426;
