.portfolio {
	&__h2 {
		color: $accent;
		line-height: 1.1em;
		margin-top: 0.1em;
		margin-bottom: 0.1em;
		margin-top: 0.5em;
	}
	&__discript {
		color: #635d69;
		font-family: $font-reg;
		margin-bottom: 2.4em;
	}
	&__wrapper {
		width: 1920px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}