.service {
	&__h2 {
		margin-top: 0.5em;
		margin-bottom: 0.7em;
		@include r(1020) {
			display: none;
		}
	}
	&__nav {
		list-style-type: decimal;
		display: flex;
		// border-bottom: 2px solid  #c5becd;
		position: relative;
		@include r(1020) {
			display: none;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 1px;
			height: 2px;
			background-color: #c5becd;
			display: block;
			width: 100%;

		}
		li {
			position: relative;
			z-index: 2;
			white-space: nowrap;
			margin-right: 4em;
			list-style-position: inside;
			a {
				text-transform: uppercase;
				font-family: $font-reg-c;
				color: #635d69;
				font-size: 1.250em;
				line-height: 1.7em;
			}
			&:hover {
				a {
					color: $accent;
				}
			}
		}
		.current-menu-item {
			border-bottom: 4px solid $accent;
		}
	}
	&__h3 {
		color: $accent;
		font-family: $font-bold-c;
		font-size: 2.500em;
		margin-top: 1.7em;
		margin-bottom: 0.3em;
		@include r(1020) {
			margin-top: 0.6em;
			line-height: 1.2em;
		}
	}
	&__content {
		color: #635d69;
		padding-bottom: 4.6em;
		p {
			line-height: 1.6em;
		}
		ul {
			box-sizing: border-box;
			padding-left: 5em;
			@include r(1020) {
				padding-left: 3em;
			}
		}
		li {
			margin-bottom: 1.5em;
			position: relative;
			&:before {
				content: "#";
				color: #c5becd;
				position: absolute;
				left: -45px;
				font-size: 3em;
				line-height: 0.4em;
				font-family: $font-light;
			}
		}
	}
}