.contacts {
	background-color: $accent;
	color: $light;
	font-family: $font-reg-c;
	padding-top: 3.2em;
	padding-bottom: 2.9em;
	position: relative;
	&__container {
		display: flex;
		position: relative;
		@include r(1220) {
			flex-direction: column;
		}
	}
	&__column {
		&--left {
			width: 360px;
			flex-shrink: 0;
			@include r(1220) {
				width: 310px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 2em;
				max-width: 100%;
			}
		}
		&--right {
			width: 824px;
			flex-shrink: 0;
			@include r(1220) {
				width: 100%;
			}
		}
	}
	&__title {
		font-size: 1.500em;
		text-transform: uppercase;
		@include r(1220) {
			line-height: 1.3em;
			margin-bottom: 0.5em;
		}
	}
	&__link {
		font-size: 1.500em;
		display: block;
		color: $light;
		line-height: 1.25em;
	}
	&__text {
		line-height: 1.4em;
		font-size: 1em;
		margin-top: 4.2em;
		@include r(1220) {
			margin-top: 2em;
		}
	}
	&__h3 {
		font-size: 2.500em;
		text-transform: uppercase;
		font-family: $font-bold-c;
		line-height: 1.35em;
		margin-bottom: 0.5em;
		@include r(1220) {
			text-align: center;
			font-size: 1.9em;
		}
	}
}

.form {
	display: flex;
	justify-content: space-between;
	@include r(1220) {
		flex-direction: column;
		align-items: center;
	}
	&__column {
		@include r(1220) {
			display: flex;
			align-items: center;
			flex-direction: column;			
		}
		&--left {
			label {
				width: 420px;
				display: flex;
				justify-content: space-between;
				@include r(1220) {
					flex-direction: column;
					width: 310px;
				}
				span {
					font-size: 1.125em;
					position: relative;
					top: 6px;
					@include r(1220) {
						margin-bottom: 0.5em;					
					}
				}
				textarea {
					height: 186px;
					width: 310px;
					overflow-x: hidden;
					background-color: #bd2325;
					border: 0px;
					resize: none;
					padding-left: 19px;
					padding-right: 19px;
					color: $light;
					box-sizing: border-box;
					font-size: 1em;
					padding-top: 12px;
					padding-bottom: 12px;
					font-size: 1.125em;
					font-family: $font-reg-c;
					@include placeholder {
						color: #ff6769;
						font-family: $font-reg-c;
					}
				}
			}
		}
		&--right {
			width: 315px;
			text-align: right;
			label {
				display: flex;
				justify-content: space-between;
				margin-bottom: 7px;
				text-align: left;
				@include r(1220) {
					flex-direction: column;
				}
				&:nth-child(3) {
					margin-bottom: 12px;
				}
				span {
					font-size: 1.125em;
					position: relative;
					top: 6px;
					@include r(1220) {
						margin-bottom: 0.5em;					
					}
				}
				input {
					width: 220px;
					background-color: #bd2325;
					border: 0px;
					height: 40px;
					padding-left: 9px;
					padding-right: 9px;
					color: $light;
					box-sizing: border-box;
					font-size: 1.125em;
					font-family: $font-reg-c;
					@include r(1220) {
						box-sizing: border-box;
						width: 310px;
					}
					@include placeholder {
						color: #ff6769;
						font-size: 1.125em;
						font-family: $font-reg-c;
					}
				}
			}
			button {
				background-color: $light;
				text-transform: uppercase;
				height: 40px;
				width: 220px;
				font-family: $font-bold-c;
				border: 0px;
				color: $accent;
				cursor: pointer;
				font-size: 1em;
				@include r(1220) {
					margin-top: 1em;
				}
				&:hover {
					background-color: $dark;
					color: $light;
					transition: 0.3s all;
				}
			}
		}
	}
}