.facts {
	height: 598px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $light;
	padding-top: 3.9em;
	@include r(1900) {
		background-size: auto 100%;
	}
	@include r(1090) {
		display: none;
	}
	&__h2 {
		margin-bottom: 1em;
		color: $light;
	}
	&__columns {
		display: flex;
		justify-content: space-between;
	}
}

.fact {
	width: 230px;
	height: 598px;
	&__thumb-block {
		display: flex;
		align-items: center;
		height: 80px;
		margin-bottom: 2.1em;
		&--2 {
			position: relative;
			left: -14px;
		}
		&--3 {
			position: relative;
			left: -4px;
		}
		&--4 {
			position: relative;
			left: -4px;
		}
	}
	&__h2 {
		margin-bottom: 0.2em;
	}
	&__title {
		font-family: $font-bold-c;
		font-size: 1.625em;
		line-height: 1em;
		padding-top: 12px;
	}
	&__text {
		font-family: $font-reg;
		line-height: 1.55em;
	}
	&__ill {
		fill: $light;
		&--1 {
			width: 100px;
			height: 100px;
			margin-right: 3px;
		}
		&--2 {
			width: 75px;
			height: 75px;
		}
		&--3 {
			width: 78px;
			height: 78px;
			margin-right: 6px;
		}
		&--4 {
			width: 78px;
			height: 78px;
			margin-right: 20px;
		}
	}
}