.footer {
	background-color: $dark;
	color: $light;
	padding-top: 3.2em;
	padding-bottom: 2.9em;
	&__container {
		display: flex;
	}
	&__column {
		flex-shrink: 0;
		width: 480px;
		@include r(1220) {
			display: none;
		}
		&:first-child {
			@include r(1220) {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 310px;
				max-width: 100%;
				text-align: center;
				br {
					display: none;
				}
			}
		}
		&:last-child {
			width: auto;
		}
	}
	&__text {
		font-family: $font-reg-c;
		line-height: 1.4em;
		margin-bottom: 0.9em;
		span {
			color: $accent;
		}
	}
	&__logo {
		fill: $accent;
		height: auto;
		display: block;
		width: 340px;
		height: 108px;
		margin-bottom: 1.2em;
		margin-top: 0.4em;
		max-width: 100%;
	}
	&__link {
		display: block;
		font-family: $font-bold;
		text-transform: uppercase;
		color: $light;
		font-size: 0.875em;
		line-height: 2.1em;
		// &:hover {
		// 	color: $accent;
		// }
		&--second {
			text-transform: none;
			font-family: $font-reg;
		}
		&--third {
			text-transform: none;
			font-family: $font-reg;
			color: #a49dab;
		}
	}
	&__social-link {
		background-color: $accent;
		height: 40px;
		width: 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		margin-right: 0.4em;
		svg {
			fill: $dark;
			width: 1.3em;
			height: 1.3em;
		}
		&:hover {
			background-color: $dark;
			svg {
				fill: $accent;
			}
		}
	}
	a.footer__link {
		&:hover {
			color: $accent;
		}
	}
}