.header {
	height: 530px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: $light;
	@include r(1900) {
		background-size: auto 100%;
	}
	@include r(1220) {
		height: auto;
		background-size: cover;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
	}
	&__h1 {
		background-color: rgba(172, 0, 2, 0.7);
		text-align: center;
		height: 298px;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		@include r(1220) {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			padding-bottom: 15px;
			justify-content: space-between;
			visibility: visible;
			height: auto;
		}
	}
	&__logo {
		fill: $light;
		width: 698px;
		height: inherit;
		display: block;
		@include r(1220) {
			width: 200px;
			height: 100px;
		}
	}
	&__nav {
		height: 108px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__mobile-menu {
		display: none;
		@include r(1200) {
			display: block;
		}
		svg {
			fill: $light;
			height: 24px;
			width: 24px;
			display: block;
		}
	}
}

.nav {
	@include r(1200) {
		display: none;
	}
	&__li {
		display: flex;
		flex-direction: column;
		margin-left: 2.5em;
		margin-right: 2.5em;
		position: relative;
		font-size: 20px;
		flex-shrink: 0;
		svg {
			fill: $accent;
			width: 10px;
			height: 10px;
			margin-left: 10px;
			position: relative;
			top: -2px;
		}
		a,span {
			position: relative;
			color: $light;
			text-transform: uppercase;
			font-family: $font-reg-c;
			border-bottom: 4px solid rgba(172, 0, 2, 0);
			line-height: 1.8em;
			&:hover {
				border-bottom: 4px solid $accent;
			}
		}
		span {
			display: block;
			cursor: default;
		}
		&:hover {
			.nav__dropdown--bottom {
				display: block;
				height: auto;
				overflow: visible;
				opacity: 1;
			}
		}
	}
	&__dropdown {
		border-top: 4px solid $accent;
		position: absolute;
		display: block;
		background-color: $dark;
		padding-left: 18px;
		z-index: 3;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 396px;
		opacity: 1;
		transition: 0.3s all;
		a,span {
			border: 0px;
			line-height: 2.5em;
			font-size: 18px;
			&:hover {
				color: $accent;
				border: 0px;
			}
		}
		span {
			display: flex;
			justify-content: space-between;
			align-items: center;
			svg {
				transform: rotate(-90deg);
			}
		}
		&--bottom {
			top: calc(100% - 4px);
			left: 0px;
			// display: none;
			transition: 0.3s all;
			height: 0px;
			overflow: hidden;
			opacity: 0;
		}
		&--right {
			top: 0px;
			left: calc(100% + 9px);
			height: 0px;
			overflow: hidden;
			opacity: 0;
			transition: 0.3s all;
			a,span {
				font-size: 18px;
			}
			&:hover {
				display: block;
				opacity: 1;
				height: auto;
				overflow: visible;
				padding-top: 5px;
				padding-bottom: 10px;
			}
		}
	}
	&__li-drop {
		padding-right: 9px;
		a {
			white-space: nowrap;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			svg {
				transform: rotate(-90deg);
			}
		}
		&:hover {
			.nav__dropdown--right {
				display: block;
				opacity: 1;
				height: auto;
				overflow: visible;
				padding-top: 5px;
				padding-bottom: 10px;
			}
		}
	}
}

.topline {
	background-color: $dark;
	&__container {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		fill: $accent;
		max-width: 300px;
		width: 100%;
		height: auto;
		display: block;
		@include r(1220) {
			width: 200px;
			height: 100px;
		}
	}
	.nav__li {
		margin-left: 1.8em;
		margin-right: 1.8em;
	}
	.nav__dropdown--bottom {
		right: 0px;
		left: auto;
	}
}