.info {
	padding-top: 100px;
	padding-bottom: 100px;
	@include r(900) {
		padding-top: 65px;
		padding-bottom: 70px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@include r(1100) {
			flex-direction: column;
		}
	}
	&__h2 {
		color: $accent;
		@include r(1100) {
			margin-bottom: 0.4em;
			br {
				display: none;
			}
		}
	}
	&__column {
		&--content {
			display: flex;
			@include r(900) {
				flex-direction: column;
			}
		}
	}
	&__block {
		display: flex;
		align-items: center;
		position: relative;
		@include r(570) {
			flex-wrap: wrap;
		}
		&:nth-child(1){
			padding-right: 50px;
			@include r(900) {
				margin-bottom: 1.6em;
			}
			&:after {
				content: "";
				margin-left: 50px;
				display: block;
				width: 2px;
				height: 74px;
				background-color: $accent;
				@include r(900) {
					display: none;
				}
			}
		}
	}
	&__number {
		font-size: 6.250em;
		line-height: 1em;
		color: $dark;
		font-family: $font-bold-c;
		margin-right: 25px;
		@include r(900) {
			margin-right: 10px;
		}
	}
	&__block-text {
		color: #635d69;
		font-size: 2.500em;
		font-family: $font-bold-c;
		line-height: 1.1em;
		@include r(900) {
			line-height: 0.9em
		}
		@include r(570) {
			// margin-top: 0.4em;
		}
		&--bottom {
			align-self: flex-end;
			color: $dark;
			line-height: 2em;
			@include r(1100) {
				line-height: 1.3em;
			}
			@include r(900) {
				line-height: 1.3em;
			}
		}
	}
}

