.mission {
	padding-top: 11.8em;
	padding-bottom: 5.8em;
	@include r(1220) {
		padding-top: 5em;
		padding-bottom: 5em;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@include r(1220) {
			flex-direction: column;
		}
	}
	&__h2 {
		color: $accent;
		@include r(1220) {
			margin-bottom: 0.4em;
			br {
				display: none;
			}
		}
	}
	&__text {
		width: 820px;
		color: #635d69;
		font-family: $font-reg;
		line-height: 1.65em;
		@include r(1220) {
			max-width: 100%;
		}
	}
}