.review {
	padding-top: 96px;
	padding-bottom: 96px;
	@include r(1090) {
		padding-top: 0px;
	}
	&__container {
		position: relative;
		display: flex;
		@include r(1220) {
			flex-direction: column;
		}
	}
	&__h2 {
		width: 340px;
		@include r(1220) {
			margin-bottom: 0.6em;
			width: 100%;
			br {
				display: none;
			}
		}
	}
	&__slider {
		position: relative;
		height: auto;
		// background-color: red;
		display: block;
		width: 840px;
		flex-shrink: 0;
		height: 410px;
		padding-left: 20px;
		padding-right: 20px;
		@include r(1220) {
			margin-left: auto;
			margin-right: auto;
		}
		@include r(980) {
			width: 100%;
			height: auto;
		}
	}
	&__link {
		background-color: $dark;
		position: absolute;
		top: 50%;
		margin-top: -42px;
		height: 84px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		&:hover {
			background-color: $accent;
			transition: 0.3s all;
		}
		svg {
			fill: $light;
		}
		&--prev {
			right: 100%;
			svg {
				transform: rotate(180deg);
			}
			@include r(980) {
				left: -20px;
				right: auto;
			}
		}
		&--next {
			left: 100%;
			@include r(980) {
				right: -20px;
				left: auto;
			}
		}
	}
	&__slide {
		display: inline-flex !important;
		@include r(980) {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	&__slider-content {
		width: 100%;
		height: 100%;
	}
	&__ill {
		width: 340px;
		flex-shrink: 0;
		margin-right: 20px;
		position: relative;
		height: fit-content;
		@include r(980) {
			display: none;
		}
		&:hover {
			.review__overlay {
				background-color: rgba(25, 23, 26, 0.5);
				.review__button {
					border-color: $light;
				}
				svg {
					fill: $light;
				}
			}
		}
		img {
			width: 100%;
		}
	}
	&__text {
		p {
			line-height: 1.5em;
			margin-bottom: 0.9em;
		}
		i {
			font-style: italic;
		}
		em {
			font-style: italic;
		}
	}
	&__overlay {
		background-color: rgba(25, 23, 26, 0.7);
		transition: 0.3s all;
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__button {
		border: 2px solid $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		border-radius: 50px;
		transition: 0.3s all;
		svg {
			fill: $accent;
			transition: 0.3s all;
		}
	}
}
