.text {
	padding-top: 70px;
	color: #635d69;
	&__container {
		display: flex;
	}
	&__column {
		&--ill {
			flex-shrink: 0;
			@include r(1000) {
				display: none;
			}
			img {
				display: block;
			}
		}
		&--content {
			padding-left: 28px;
			@include r(1000) {
				padding-left: 0px;
			}
		}
	}
	&__text {
		margin-bottom: 1.5em;
		line-height: 1.65;
	}
	&__discript {
		font-size: 1.375em;
		font-family: $font-ital-c;
		color: $accent;
	}
	&__h2 {
		color: $accent;
		position: relative;
		left: -88px;
		line-height: 1.4em;
		margin-bottom: 0.4em;
		@include r(1000) {
			left: 0px;
		}
	}
	h4 {
		text-transform: uppercase;
		font-family: $font-bold-c;
		font-size: 1.375em;
		color: $accent
	}
}