.works {
	&__container {
		position: relative;
		height: 0px;
	}
	&__content {
		margin-left: auto;
		margin-right: auto;
		max-width: 1920px;
		width: 100%;
	}
	&__link {
		font-size: 1.375em;
		position: absolute;
		font-family: $font-reg-c;
		color: $accent;
		top: 5px;
		&:hover {
			color: $dark;
		}
	}
	&__content {
		display: flex;
		@include r(1020) {
			flex-wrap: wrap;
		}
	}
}

.article {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	flex-shrink: 0;
	transition: 0.5s all;
	@include r(1020) {
		width: 50%;
	}
	&__overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 0.25;
	}
	img {
		position: relative;
		max-width: 90%;
		height: auto;
	}
	&:hover {
		background-size: 110%;
	}
}