.blog {
	padding-bottom: 68px;
	&__container {

	}
	&__h2 {
		line-height: 1.1em;
		margin-top: 0.3em;
		margin-bottom: 1em;
	}
	&__news {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.news-article {
	flex-shrink: 0;
	max-width: 380px;
	padding-bottom: 1.2em;
	width: 32%;
	min-width: 300px;
	padding-bottom: 66px;
	background-position: center;
	background-repeat: no-repeat;
	&__thumb {
		width: 100%;
		height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		position: relative;
	}
	&__date {
		color: #a49dab;
		line-height: 2.4em;
		margin-bottom: 0.5em;
	}
	&__overlay {
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		background-color: $dark;
		transition: 0.3s all;
		opacity: 0;
	}
	&__title {
		color: $dark;
		line-height: 1.5em;
		max-width: 85%;
	}
	&:hover {
		.news-article__overlay {
			opacity: 0.1;
		}
		.news-article__title {
			text-decoration: underline;
		}
	}
}
