.none {
	position: relative;
	background: linear-gradient(to bottom, $dark, #2a272e);
	&__wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: 1920px;
		// background-color: $dark;
		position: relative;
		overflow: hidden;
	}
	&__container {
		display: flex;
		position: relative;
		z-index: 2;
		padding-top: 140px;
		padding-bottom: 240px;
		@include r(1100) {
			flex-direction: column;
			padding-top: 60px;
		}
	}
	&__ill {
		position: absolute;
		z-index: 1;
		&--top {
			top: 0px;
			// max-width: 1920px;
			width: 100%;
			// left: 50%;
			left: 0px;
			// margin-left: -960px;
			@include r(600) {
				width: 800px;
				left: 50%;
				margin-left: -400px;
			}
		}
		&--down {
			bottom: -1px;
			min-width: 1920px;
			left: 0px;
		}
	}
	&__h2 {
		line-height: 1em;
		text-transform: none;
		width: 41%;
		@include r(1100) {
			width: 100%;
			br {
				display: none;
			}
		}
	}
	&__title {
		color: $accent;
		font-family: $font-bold-c;
		font-size: 1.5em;
		margin-bottom: 0.7em;
	}
	&__column {
		color: #c5becd;
		padding-top: 27px;
		p {
			line-height: 1.5em;
			margin-bottom: -0.5em;
		}
		span {
			color: $accent;
		}
		a {
			color: #c5becd;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	
}

