.we {
	&__wrapper {
		padding-top: 20px;
		padding-bottom: 47px;
		// border-top: 1px solid #c5becd;
		@include r(1220) {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
	&__container {
		@include r(1220) {
			padding-left: 0px;
			padding-right: 0px;
			.breadcrumbs {
				display: none;
			}
		}
	}
	&__content {
		background-color: $dark;
		color: $light;
		display: flex;
		justify-content: space-between;
		@include r(1220) {
			flex-direction: column;
		}
	}
	&__map {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		@include r(1220) {
			height: 400px;
		}
	}
	&__column {
		width: 420px;
		flex-shrink: 0;
		padding-left: 34px;
		padding-right: 34px;
		@include r(1220) {
			order: -1;
			margin-left: auto;
			margin-right: auto;
			padding-left: 8px;
			padding-right: 8px;
			max-width: 100%;
		}
	}
	&__h3 {
		color: $accent;
		font-family: $font-bold-c;
		text-transform: uppercase;
		font-size: 2.500em;
		margin-top: 0.4em;
	}
	&__adress-line {
		&--last {
			padding-bottom: 0.6em;
			border-bottom: 2px solid $accent;
		}
	}
	&__adress-symbol {
		font-family: $font-bold;
		font-size: 1.875em;
		color: $accent;
		line-height: 1.6em;
		margin-right: 0.3em;
		@include r(1220) {
			display: none;
		}
	}
	&__adress-text {
		font-family: $font-reg-c;
		font-size: 1.250em;
		color: $light;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__h4 {
		color: $accent;
		text-transform: uppercase;
		font-family: $font-reg-c;
		font-size: 1.500em;
		line-height: 2.5em;
	}
}