.single {
	&__wrapper {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	&__illustration {
		padding-top: 200px;
		img {
			display: block;
			width: 100%;
			max-width: 1920px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__content {
		position: absolute;
		top: 80px;
		left: 0px;
		right: 0px;
		text-align: center;
		z-index: 2;
	}
	&__discript {
		max-width: 100%;
		width: 1220px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
		h2 {
			font-family: $font-bold-c;
			font-size: 2.500em;
		}
	}
	&__link {
		display: flex;
		position: absolute;
		@include r(1020) {
			height: 85px;
		}
		&:hover {
			.single__ill-block {
				background-color: $dark;
			}
		}
		&--prev {
			top: 0px;
			left: 0px;
			.single__ill-block {
				margin-left: 2px;
			}
			.single__arrow {
				transform: rotate(180deg);
			}
		}
		&--next {
			top: 0px;
			right: 0px;
			.single__ill-block {
				margin-right: 2px;
			}
		}
	}
	&__article {
		width: 85px;
		height: 85px;
		@include r(1020) {
			display: none;
		}
	}
	&__ill-block {
		width: 36px;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $accent;
		transition: 0.3s all;
	}
	&__arrow {
		fill: $light;
	}
	&__bottom {
		height: 114px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	&__link-all {
		color: $accent;
		font-size: 1.625em;
		text-decoration: underline;
		font-family: $font-bold;
		transition: 0.3s all;
	}
}